@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .desc {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .buttons {
    justify-content: center;
  }
}